*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;

}
/*start navigation */

.navigation{
    font-family: "Roboto", serif;
    display: flex;
    justify-content: center;
    background-color: white;
}

nav{
    width: 70vw;
    height: 10vh;
    /* background-color: rgb(34, 126, 206); */
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.navbar1{
    font-weight:700;
    font-style: italic;
    font-size: 22px;

}

.navbar2 ul{
    display: flex;
    gap: 1.5em;
}
.navbar2 ul li{
    display: flex;
    text-decoration: none;
    
}

.navbar2 ul li a{
    text-decoration: none;
    font-weight: 500;
    color: black;
}

/*end navigation */

/* start heros sectiom */
.heroSection{
    width: 100vw;
    height: 55vh;
    background-image: url("5.jpg");
    background-size: cover;
    color: white;
}

.heroSection main div{
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heroSection main div h1{
    line-height:1.7em;
    font-size: 3em;
}
.buttonal{
    margin-top: 25px;
    width: 130px;
    height: 50px;
    border-radius: 3px;
    background-color:transparent;
    border-color: white;
    color: white;
    /* border: none; */

}

.compony-logo{
    width: 100%;
    height: 15vh;
    background-color: bisque;
    background-image: url("6.jpg");
    background-size: cover;
}
.HubSpot-P{
    width: 100%;
    height: 50vh;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;

}
.HubSpotC{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

}
.hubspot-cont{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 79%;
}
.hubspot-cont h2{
    font-size: 1.9em;

}

.hupspot-img img{
    width: 400px;
    align-self:flex-end;

}
.HubSpot-button{
    align-self:flex-start;
    background-color: rgb(43, 116, 226);
    border: none;
}
.hupspot-img2 img{
    width: 400px;
    align-self:flex-end;
}
